# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.env
*.egg-info/
dist/
build/

# Flask
instance/
.webassets-cache

# Data and models
app/data/*.csv
app/data/ml-*
app/models/*.pkl
app/models/snapshots/

# NLTK
nltk_data/

# Logs
*.log
logs/

# OS specific
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
